h1 {
    font-style: italic;
    font-size:  80px;
    text-align: center;
}
body {
    color: lightsteelblue;
    font-size: 50px;
}
nav {
    color: cornflowerblue;
    font-size: 30px;
    text-align: center;
}